In [22]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style('darkgrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

rock_file = 'rock.csv'
rock = pd.read_csv(rock_file)

In [23]:
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.4+ KB

In [24]:
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [25]:
rock.rename(columns={
        'Song Clean':'Song',
        'ARTIST CLEAN':'Artist',
        'Release Year':'Release_Year',
        'First?':'Ones',
        'Year?':'Year_Present',
        'PlayCount':'Plays',
        'F*G':'Plays_Adj'
    },inplace=True)
#rock.drop(['COMBINED'],axis=1,inplace=True)

In [26]:
rock['Release_Year'] = pd.to_numeric(rock['Release_Year'],errors='coerce')

In [31]:
rock.describe()

/home/llevin/anaconda2/envs/dsi/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       Release_Year    Ones  Year_Present        Plays    Plays_Adj
count   1652.000000  2230.0   2230.000000  2230.000000  2230.000000
mean    1978.019976     1.0      0.741256    16.872646    15.048430
std       24.191247     0.0      0.438043    25.302972    25.288366
min     1071.000000     1.0      0.000000     0.000000     0.000000
25%             NaN     1.0      0.000000     1.000000     0.000000
50%             NaN     1.0      1.000000     4.000000     3.000000
75%             NaN     1.0      1.000000    21.000000    18.000000
max     2014.000000     1.0      1.000000   142.000000   142.000000

In [28]:
rock.apply(lambda x: stats.mode(x),axis=0)

Song                            ([Changes], [3])
Artist                    ([The Beatles], [100])
Release_Year                   ([1973.0], [104])
COMBINED        ([#9 Dream by John Lennon], [1])
Ones                               ([1], [2230])
Year_Present                       ([1], [1653])
Plays                               ([1], [619])
Plays_Adj                           ([0], [578])
dtype: object

In [29]:
print max(rock['Release_Year']), min(rock['Release_Year'])
rock[['Release_Year','Ones','Plays','Plays_Adj']].apply(lambda x: max(x) - min(x), axis=0)

2014.0 1071.0

Release_Year    943.0
Ones              0.0
Plays           142.0
Plays_Adj       142.0
dtype: float64

In [30]:
rock[rock['Release_Year']==1071]

,Song,Artist,Release_Year,COMBINED,Ones,Year_Present,Plays,Plays_Adj
547,Levon,Elton John,1071.0,Levon by Elton John,1,1,8,8